rules_version = '2';
service cloud.firestone {
  match /databases/{database}/documents {
    match /studyPlans/{planId} {
      //create
      allow create: if request.auth != null && request.auth.uid == request.resource.data.createdBy;

      //read
      allow read: if request.auth != null && request.auth.uid == resource.data.createdBy;

      //update
      allow update: if request.auth != null && request.auth.uid == resource.data.createdBy;

      //delete
      allow delete: if request.auth != null && request.auth.uid == resource.data.createdBy;
    }
  }
}
